---

--- 

<div class="flex flex-col items-center justify-center">
    <div class="flex flex-col items-center justify-center w-[320px] h-[270px] md:w-[620px] md:h-[560px]">
            <img src={"logoSistemas.png"} alt="Logo de sistemas autoorganizados" />
    </div>
</div>