---
---

<section class="relative w-[100%] h-[23vh] md:h-[83vh] overflow-hidden mt-[120px]" style="z-index: 1;">
  <img 
    src={"FILOSOFIA.jpg"} 
    alt="Imagen principal" 
    class="absolute inset-0 w-full h-full object-cover object-center"
  />
</section>
