---
import PostsCarousel from '~/components/blog/PostsCarousel.jsx';
import { findImage } from '~/utils/images';
import type { Post } from '~/types';

export interface Props {
  posts: Array<Post>;
}

const { posts } = Astro.props;

// Process images for each post
const postsWithImages = await Promise.all(
  posts.map(async (post) => {
    const image = await findImage(post.image);
    return {
      ...post,
      processedImage: image?.src || image || null
    };
  })
);
---

<div class="w-full">
  <PostsCarousel posts={postsWithImages} client:load />
</div>