---

// import { Picture } from '@astrojs/image/components';
import PostTags from '~/components/blog/Tags.astro';

import { BLOG } from '~/config.mjs';
import type { Post } from '~/types';

import { getPermalink } from '~/utils/permalinks';
// import { findImage } from '~/utils/images';

export interface Props {
  post: Post;
}

const { post } = Astro.props;
// const image = await findImage(post.image);

const link = !BLOG?.post?.disabled ? getPermalink(post.permalink, 'post') : '';
---

<a href={link ?? 'javascript:void(0)'} class="block ">
  <article class="bg-[#5c603c] text-white p-5 h-full flex flex-col rounded-md shadow-md">
    <div class="icon-container mb-4">
      <div class="w-10 h-10 flex items-center justify-center border border-white rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
        </svg>
      </div>
    </div>
    
    <header class="mb-3">
      <h2 class="text-xl font-bold mb-2 text-white">
        {post.title}
      </h2>
    </header>

    {post.excerpt && 
      <p class="text-white text-sm mb-4">{post.excerpt}</p>
    }
    
    <footer class="mt-auto pt-3">
      {post.tags && <PostTags tags={post.tags} />}
    </footer>
  </article>
</a>
